.tooltip {
      position: absolute;
      width: 150px;
      background-color: #ddd;
      font-size: .8em;
      box-shadow: 2px 2px 2px #999;
      border-radius: 3px;
      padding: 5px 10px;
      display: none;
}

.tooltip p {
      margin: 0;
      position: relative;
      z-index: 1;
}

.tooltip span {
      background: inherit;
      border-right: 1px solid #ddd;
      border-top: 1px solid #ddd;
      height: 15px;
      left: 0;
      margin-left: 20px;
      margin-top: -19px;
      position: absolute;
      top: 17px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      width: 15px;
}